<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>400</title>
<link href="${request.contextPath}/css/error.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="pd">
		<div class="text_center error">
			<div class="text_center m_b_large">
				<h1 class="h white">400</h1>

			</div>
			<div class="blue_large">
				<i class="error_img"></i> 请求无法被识别
			</div>
			<div class="text_center">
				<input name="button22" type="button" class="btn_b_green" style="cursor: pointer;"
					onclick="location.href='${request.contextPath}';" value="刷新页面" />
			</div>
		</div>
	</div>
</body>
</html>