<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>500</title>
<link href="${request.contextPath}/css/error.css" rel="stylesheet" type="text/css" />
${jsContext}
<script type="text/javascript" src="${request.contextPath}/js/commonPage.js"></script>
</head>
<body>
	<div class="pd">
		<div class="text_center error">
			<div class="text_center m_b_large">
				<h1 class="h white">500</h1>

			</div>
			<div class="blue_large">
				<i class="error_img"></i>对不起，服务器内部发生错误<br/>
				<span style="color:red;font-size:14px;">
					<#if error??>  
					  ${error}
					</#if>
				</span>
			</div>
			<div class="text_center">
				<input name="button22" type="button" class="btn_b_green" style="cursor: pointer;"
					onclick="commonRefresh();" value="刷新页面" />
			</div>
		</div>
	</div>
</body>
</html>